@include font-face("UTM", "../storage/fonts/UTMBryantLG.ttf", normal);
@include font-face("UTM", "../storage/fonts/UTMBryantLG_B.ttf", bold);
@include font-face("Open Sans", "../storage/fonts/OpenSans-Bold.ttf", bold);
@include font-face("Open Sans", "../storage/fonts/OpenSans-Regular.ttf", normal);
body {
  font-family: UTM;
  margin: 0;
  padding: 0;
}

#collapsibleNavbar {
  .hapolearn-lists {
    text-align: center;

    li {
      a {
        color: $lesson-tittle-color;
        padding: 8px 10px;
        text-transform: uppercase;
        @include font-Ops(bolder, 1em, 1.25em);
      }

      .active {
        background: #b2d235;
        border-radius: 17px;
        color: white;
      }
    }
  }
}

.card-img-top {
  height: 220px;
}

.navbar-nav {
  .nav-item:hover {
    a {
      background: #b2d235;
      border-radius: 17px;
      color: #fff !important;
    }
  }
}

.navbar-nav {
  .nav-item {
    margin: 0 10px;
  }
}

.no-gutters-custom {
  padding: 0;
  margin: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
  border: 0;
}

header {
  background-color: white;
}

.hapolearn-banner {
  .hapolearn-banner-text {
    position: absolute;
    top: 30%;
    color: #11114e;

    .hapolearn-banner-slogan {
      @include fontUtm(normal, 50px, 61px);
    }

    .hapolearn-banner-quotes {
      @include fontUtm(normal, 20px, 25px);
    }
  }

  a {
    text-decoration: none;
  }
}

.hapolearn-btn {
  background-color: #b2d235;
  border-radius: 35px;
  color: white;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  -webkit-text-stroke: 0.5px;
  @include fontUtm(bold, 30px, 37px);
  &:hover {
    background-color: #bce41b;
    box-shadow: none;
  }
}

.hapolearn-blankspace {
  height: 230px;
  background: linear-gradient(180deg, #fffbfb, #e7e9ee);
}

.hapolearn-courses {
  margin-top: -125px;
}

.hapolearn-courses-items {
  max-width: 350px;
  margin: 0 15px;
  border-radius: 15px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.hapolearn-card-title {
  color: $color-green;
  text-align: center;
  -webkit-text-stroke: 0.9px;
  @include fontUtm(bold, 30px, 37px);
}

.hapolearn-card-text {
  color: $color-gray-darker;
  text-align: center;
  -webkit-text-stroke: 0.2px;
  @include fontUtm(normal, 14px, 18px);
}

.hapolearn-courses-btn {
  background-color: #b2d235;
  border-radius: 22px;
  color: white;
  padding: 8px 0;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.5px;
  @include fontUtm(bold, 18px, 22px);
  &:hover {
    color: white;
    background-color: #bce41b;
    box-shadow: none;
  }
}

.hapolearn-title {
  color: #11114e;
  -webkit-text-stroke: 2px;
  margin-top: 110px;
  @include fontUtm(bold, 80px, 90px);
}

.hapolearn-title-borderbottom {
  border-bottom: 6px solid #b2d235;
  margin-bottom: 45px;
  border-radius: 3px;
  margin-top: 110px;
}

.hapolearn-allcourses {
  color: #90ab26;
  -webkit-text-stroke: 1px;
  @include fontUtm(bold, 40px, 49px);
  &:hover {
    color: #90ab26;
    font-size: 42px;
  }
}

.hapolearn-why {
  background-image: url("../storage/images/background2black.png");
  background-size: cover;
  margin-top: 110px;

  .hapolearn-why-imgtop {
    position: relative;
    margin-top: -200px;
  }

  ul {
    list-style: none;

    li {
      margin-top: 25px;
    }
  }

  .hapolearn-why-title {
    color: white;
    -webkit-text-stroke: 1.5px;
    @include fontUtm(bold, 65px, 86px);
  }

  .hapolearn-why-text {
    color: white;
    @include fontUtm(normal, 20px, 25px);
  }

  .hapolearn-why-content {
    .hapolearn-why-content-img {
      position: relative;
      top: -200px;
      right: -10px;
      transform: scale(1.3);
    }
  }
}

.hapolearn-feedback-text {
  color: $lesson-tittle-color;
  margin-top: 20px;
  padding-bottom: 20px;
  @include fontUtm(normal, 25px, 31px);
}

.hapolearn-feedback-items {
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  &:after {
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: -10px;
    left: 5%;
    content: "";
    transform: rotate(45deg);
    margin-top: -11px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
}

.hapolearn-slick-item {
  margin: 0 15px;

  .hapolearn-feedback-items {
    background-color: white;
  }
}

.hapolearn-feedback-items-user {
  width: 90%;

  .hapolearn-feedback-items-user-picture {
    margin-left: 20px;
  }

  .hapolearn-feedback-items-user-infor {
    .hapolearn-feedback-items-user-infor-text {
      color: #11114e;
      margin: 0;
      -webkit-text-stroke: 0.5px;
      @include fontUtm(bold, 20px, 25px);
    }

    i {
      font-size: 14px;
      color: #f2c54f;
    }

    .hapolearn-feedback-items-user-infor-courses {
      color: $lesson-tittle-color;
      margin: 0;
      -webkit-text-stroke: 0.5px;
      @include fontUtm(normal, 16px, 20px);
    }
  }
}

.hapolearn-quote-borderleft {
  border-left: 5px solid #d9dadc;
  padding: 10px;
  display: inline-block;
  margin-left: 10px;
}

.hapolearn-banner-member {
  background: url("../storage/images/member.png") no-repeat center;
  background-size: cover;
  margin-top: 110px;

  .wrap {
    padding: 10% 0;
  }

  .hapolearn-banner-member-title {
    color: white;
    -webkit-text-stroke: 2px;
    @include fontUtm(bold, 60px, 74px);
  }

  .hapolearn-banner-member-button {
    background-color: white;
    text-decoration: none;
    color: #90ab26;
    border-radius: 40px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    margin-top: 15px;
    outline: 0;
    @include fontUtm(bold, 30px, 37px);
    &:hover {
      background-color: #f7f7f7;
      box-shadow: none;
      border: 0;
    }
  }
}

.hapolearn-statistic {
  margin-top: 110px;

  .hapolearn-statistic-title {
    color: $lesson-tittle-color;
    margin-top: 60px;
    @include fontUtm(bold, 60px, 74px);
  }

  .hapolearn-statistic-number {
    color: #b2d235;
    @include fontUtm(bold, 60px, 74px);
  }
}

.hapolearn-footer {
  background-color: $lesson-tittle-color;
  color: white;

  .hapolearn-footer-quote {
    @include fontUtm(normal, 20px, 25px);
  }

  .hapolearn-footer-ul {
    list-style-type: none;
    margin-top: 16px;
    padding-inline-end: 30px;
    padding-inline-start: 15px;

    .hapolearn-footer-ul-link {
      color: white;
      text-decoration: none;
      @include fontUtm(normal, 23px, 25px);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .hapolearn-footer-icon {
    margin-right: 35px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.tooltip {
  top: -10px !important;
}

.hapolearn-copyright {
  background-color: #454545;

  .hapolearn-copyright-text {
    @include fontUtm(normal, 15px, 18px);
  }
}

.hapolearn-messenger {
  position: fixed;
  width: 380px;
  bottom: 20px;
  right: 30px;

  .hapolearn-messenger-chatbox {
    background-color: white;
    border-radius: 23px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    display: none;

    .hapolearn-messenger-chatbox-text {
      img {
        height: 35px;
      }

      p {
        margin-top: 5px;
        padding: 15px;
        background-color: #f1f0f0;
        border-radius: 15px;
        color: $lesson-tittle-color;
        -webkit-text-stroke: 0.3px;
        @include font-Ops(normal, 12px, 17px);
      }

      i {
        color: #c4c4c4;
        font-size: 24px;
        cursor: pointer;
        margin-top: -10px;
      }
    }

    .hapolearn-messenger-chatbox-login {
      p {
        color: #b3b3b3;
        text-align: center;
        @include font-Ops(normal, 12px, 16px);
      }
    }

    .hapolearn-messenger-chatbox-name {
      @include font-Ops(normal, 12px, 16px);
      color: #7f7f7f;
    }
  }

  .hapolearn-messenger-icon {
    cursor: pointer;
    z-index: 2;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.hapolearn-messenger-btnlogin {
  background: #3184f7;
  border-radius: 10px;
  @include font-Ops(normal, 12px, 16px);
}

.slide-btn-right {
  position: absolute;
  top: 23%;
  right: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 10px #535353;
    border-radius: 40%;
  }
}

.slide-btn-left {
  position: absolute;
  top: 23%;
  cursor: pointer;
  z-index: 1;
  background-image: url("{{ ../storage/images/background2black.png }}");
  &:hover {
    box-shadow: inset 0 0 10px #535353;
    border-radius: 40%;
  }
}

.form-login-register {
  width: 100%;

  .selected {
    padding: 20px 0;
    background-color: #b2d235;
    color: #ffffff;
    @include fontUtm(bold, 25px, 31px);
    &:hover {
      opacity: 0.8;
    }
  }

  .not-select {
    color: #b2d235;
    padding: 20px 0;
    @include fontUtm(bold, 25px, 31px);
    &:hover {
      background-color: #f7f7f7;
    }
  }

  .lable-input {
    @include fontUtm(bold, 16px, 25px);
  }

  .btn-x {
    width: 30px;
    height: 30px;
    background-color: #b2d235;
    color: white;
    position: absolute;
    text-align: center;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    cursor: pointer;
  }

  .form-login,
  .form-register {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  .forgot-password {
    text-decoration: underline;
    color: #b2d235;
    @include fontUtm(normal, 18px, 22px);
  }
}

.modal-content {
  width: 90%;
}

.input-text {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #e1e1e1;
}

.login-btn {
  border-radius: 22px;
  color: white;
  background-color: #b2d235;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 15px;
  @include fontUtm(bold, 18px, 22px);
}

.login-google-btn {
  background-color: #dc4e41;
  color: white;
  @include fontUtm(bold, 20px, 25px);
}

.login-fb-btn {
  background-color: #3b5999;
  color: white;
  @include fontUtm(bold, 20px, 25px);
}

.filter-find {
  .filter-btn {
    width: 100px;
    padding: 6px 0;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    color: $lesson-tittle-color;
    @include font-Ops(bold, 16px, 22px);
  }

  .find-input {
    width: 355px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    color: $lesson-tittle-color;
    padding: 6px 5px;
    @include font-Ops(bold, 16px, 22px);
  }

  .search-icon {
    font-size: 16px;
    position: relative;
    right: 25px;
  }
}

.list-courses {
  .course-item {
    margin: 20px 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    background-color: white;

    .course-item-content {
      color: #505050;

      .course-item-content-tittle {
        @include fontUtm(bold, 25px, 31px);
      }

      .course-item-content-tittle-text {
        @include fontUtm(bold, 18px, 25px);
      }
    }

    .course-item-btn {
      color: white;
      background: #b2d235;
      box-shadow: inset 0 2px 4px #6f8710;
      border-radius: 22px;
      @include fontUtm(bold, 18px, 25px);
      &:hover {
        box-shadow: none;
      }
    }

    .course-item-statistic {
      border-top: 1px solid #f1f1f1;
      margin-top: 15px;
      padding-top: 10px;

      .course-item-statistic-title {
        color: $lesson-tittle-color;
        @include fontUtm(bold, 25px, 31px);
      }

      .course-item-statistic-number {
        text-align: center;
        color: #b2d235;
        @include fontUtm(bold, 31px, 35px);
      }
    }
  }
}

.course-detail-image {
  margin-top: 30px;
}

.course-detail {
  margin-top: 30px;

  .course-detail-lesson {
    background-color: white;
    color: $lesson-tittle-color;

    .course-detail-lesson-header {
      border-bottom: 2px solid #dadada;
      @include fontUtm(bold, 20px, 25px);
    }

    .course-detail-lesson-detail {
      @include fontUtm(bold, 18px, 22px);
    }
  }

  .border-top-bot {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

.btn-learn {
  color: white;
  background-color: #b2d235;
  box-shadow: inset 0 1.5px 2px #6f8710;
  border-radius: 22px;
  @include fontUtm(bold, 15px, 18px);
}

.descriptions-course {
  margin-top: 30px;
  background-color: white;
  color: $lesson-tittle-color;

  .descriptions-course-title {
    border-bottom: 1px solid #b2d235;
    letter-spacing: -0.02em;
    @include fontUtm(bold, 25px, 31px);
  }

  .descriptions-course-content {
    text-align: justify;
    color: #949292;
    letter-spacing: -0.02em;
    @include fontUtm(normal, 18px, 26px);
  }
}

.course-info {
  margin-top: 30px;
  color: $lesson-tittle-color;
  @include fontUtm(normal, 25px, 31px);

  .course-info-text {
    background-color: white;
    padding: 20px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .btn-learn {
    font-size: 18px;
  }
}

.course-info-tittle {
  color: white;
  background-color: #b2d235;
  padding: 20px;
  @include fontUtm(bold, 25px, 31px);
}

.other-list {
  background-color: white;

  .other-list-item {
    color: $lesson-tittle-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    @include fontUtm(normal, 16px, 20px);
  }
}

.lesson-detail {
  @include fontUtm(normal, 18px, 26px);

  .lesson-detail-title {
    margin: 15px 0;
    @include fontUtm(bold, 25px, 31px);
  }

  .lesson-detail-text {
    text-align: justify;
  }
}

.teacher-info {
  display: flex;

  .teacher-info-img {
    width: 100px;
    height: 100px;
  }

  .teacher-info-name {
    @include fontUtm(bold, 18px, 22px);
  }

  .teacher-info-exp {
    color: #bdb9b9;
    @include fontUtm(normal, 14px, 17px);
  }

  .teacher-info-gplus {
    margin: 0 10px;
    border-radius: 50%;
    padding: 0 3.5px;
    border: 0.5px solid #f44336;
    color: #f44336;
  }

  .teacher-info-fb {
    margin: 0 10px;
    border-radius: 50%;
    padding: 1px 8.5px;
    border: 0.5px solid #1976d2;
    color: #1976d2;
  }

  .teacher-info-slack {
    margin: 0 10px;
    border-radius: 50%;
    color: #ff9800;
    border: 0.5px solid #e91e63;
    padding: 0 5px;
  }

  .teacher-text {
    text-align: justify;
    color: #949292;
    @include fontUtm(normal, 18px, 26px);
  }
}

.lesson-program {
  color: $lesson-tittle-color;
  @include fontUtm(bold, 18px, 22px);

  i {
    color: #b2d235;
  }

  .porgram-list {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .program-type {
    color: #bdb9b9;
    @include fontUtm(normal, 14px, 17px);
  }
}

.rating {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .rating-star {
    color: white;
    background-color: $lesson-tittle-color;
    border-radius: 5px;

    .rating-star-number {
      @include fontUtm(bold, 60px, 70px);
    }

    .rating-times {
      @include fontUtm(bold, 16px, 20px);
    }

    i {
      font-size: 20px;
      color: #ffd567;
    }
  }

  .total-star {
    color: $lesson-tittle-color;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    @include fontUtm(normal, 16px, 20px);

    .total-star-title {
      color: $lesson-tittle-color;
      @include fontUtm(bold, 16px, 20px);
    }
  }
}

.progress {
  width: 320px;
  height: 7px;
}

.user-reviews-title {
  color: $lesson-tittle-color;
  @include fontUtm(bold, 18px, 22px);
}

.user-review-item {
  border-bottom: 1px solid $border-color;

  .user-review-item-info {
    img {
      width: 40px;
      height: 40px;
    }

    .icon {
      font-size: 14px;
      color: #ffd567;
    }

    .review-time {
      color: #bdb9b9;
      @include fontUtm(normal, 14px, 17px);
    }

    .trash {
      color: red;
      &:hover {
        color: #ff9494;
      }
    }
  }

  .user-review-text {
    text-align: justify;
    color: #949292;
    @include fontUtm(normal, 18px, 26px);
  }
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.course-img {
  border-radius: 10px;
}

.home-course-img {
  border-radius: 15px 15px 0 0;
}

.courses-img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.rating {
  float: left;
  border: 0;
}

.rating:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}

.rating:not(:checked) > label:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  content: "\f005";
}

.rating > input:checked ~ label {
  color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.take-leave {
  color: white;
  padding: 10px 30px;
  background-color: $color-green;
  box-shadow: inset 0 1.5px 2px #6f8710;
  border-radius: 22px;
  @include fontUtm(bold, 15px, 18px);
  &:hover {
    box-shadow: none;
    color: white;
  }
}

.find-btn {
  color: white;
  padding: 10px 15px;
  background: $color-green;
  border: 1px solid $color-green;
  border-radius: 5px;
  @include font-Ops(bold, 15px, 20px);
  &:hover {
    color: white;
    border-radius: 10px;
  }
}

.nav-tabs {
  .nav-link {
    color: #505353;
    background-color: transparent;
  }

  .nav-link.active {
    color: white;
    background-color: $color-green;
  }
}

.border-profile {
  border-bottom: 1px solid #dcdcdc;
}

.btn-img {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    color: #505353;
  }
}

.user-name {
  color: $lesson-tittle-color;
  @include fontUtm(bold, 25px, 31px);
}

.profile-title {
  color: $lesson-tittle-color;
  @include fontUtm(bold, 38px, 47px);
}

.border-double {
  border-bottom: 5px double $color-green;
}

.user-course-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.lable-title {
  color: $lesson-tittle-color;
  @include fontUtm(bold, 20px, 25px);
}

.input-file {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  position: relative;
}

.input-label {
  border-radius: 8px;
  padding: 20px 0;
  border: 1px dotted gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  cursor: pointer;
}

.icon-upload {
  color: #cccccc;
  font-size: 3rem;
  pointer-events: none;
}

.img-upload {
  width: 150px;
  height: 150px;
}

.profile-avatar {
  height: 245px;
  width: 245px;
}

.course-filter {
  display: none;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;

  .filter-title {
    color: $lesson-tittle-color;
    @include fontUtm(bold, 16px, 22px);
  }

  .order-by-time {
    width: 101px;
    height: 34px;
  }
}

.course-filter input[type="radio"] + label {
  background-color: #e5e6e7;
  color: $lesson-tittle-color;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 2px;
  @include fontUtm(bold, 14px, 19px);
}

.course-filter input[type="radio"]:checked + label,
.Checked + label {
  color: white;
  background: $color-green;
}

.filter-select {
  width: 140px;
  margin: 10px;
}

.page-link {
  border-radius: 3px;
  margin: 0 3px;
  color: $color-green;
  border: 1px solid #dee2e6;
  padding: 5px 15px;
  background-color: transparent;
  @include font-Ops(bold, 18px, 25px);
}

.page-item.active .page-link{
  color: white;
  background-color: $color-green;
  border: 0;
}
