// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

@mixin font-face($font-family, $url, $font-weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}");
    font-style: normal;
    font-weight: $font-weight;
  }
}

@mixin fontUtm($font-weight, $font-size, $line-height) {
  font: $font-weight $font-size UTM;
  line-height: $line-height;
}

@mixin font-Ops($font-weight, $font-size, $line-height) {
  font: $font-weight $font-size "Open Sans";
  line-height: $line-height;
}

$color-green: #b2d235;
$color-green-brighter: #bce41b;
$color-gray-darker: #505353;
$color-blue-black: #11114e;
$fa-font-path: "../webfonts";
